@media (width <= 768px) {
  header ul,
  li {
    display: none;
  }
  header {
    max-width: 335px;
    width: 100%;
    margin: auto;
    align-content: center;
  }
  .search-loop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .location-banner {
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "details";
  }
  .full-details {
    display: grid;
    margin-top: 24px;
    grid-template-columns: 1fr;
    grid-column-gap: 132px;
    grid-row-gap: 16px;
    grid-template-areas:
      "property-address"
      "condition"
      "condition2"
      "facilities"
      "estate-name"
      "furnishing"
      "property-size";
  }
  .fac-info {
    text-align: end;
  }
  .price-contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .article-contact {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
  .article-contact button {
    width: 100%;
  }
  .full-details div {
    display: flex;
    justify-content: space-between;
  }
  .section-container-left {
    max-width: 335px;
    width: 100%;
    height: 316px;
    margin: auto;
  }
  .section-container-right {
    max-width: 375px;
    width: 100%;
    height: 1060px;
    margin: auto;
  }
  .ads {
    max-width: 335px;
    width: 100%;
    margin: auto;
    align-content: center;
    margin-top: 72px;
    margin-bottom: 16px;
  }
  .villas {
    display: flex;
    justify-content: space-around;
    max-width: 335px;
    width: 100%;
    margin-bottom: 74px;
  }
  .villas article:nth-child(odd) {
    display: none;
  }
  .villas article:nth-child(2) {
    display: none;
  }
  article h3 {
    display: flex;
  }
  footer {
    background: none;
    margin-top: 74px;
  }
  footer p {
    display: none;
  }
  footer span {
    display: none;
  }
  footer hr {
    display: none;
  }
  .mobileversion {
    display: flex;
    justify-content: center;
  }
}
