@media (width <= 768px) {
  header ul {
    display: none;
  }
  .main-photo,
  aside {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .form-row {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .villas {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .footer-container-left,
  .footer-container-right {
    display: grid;
    grid-template-columns: 1fr;
  }
  footer p {
    display: none;
  }
  .bottom {
    display: flex;
  }
}
