@media (width <= 768px) {
  header ul,
  li {
    display: none;
  }
  .villas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .villas article:last-child {
    display: none;
  }
  footer {
    background: none;
  }
  footer p {
    display: none;
  }
  footer span {
    display: none;
  }
  footer hr {
    display: none;
  }
  .mobileversion {
    display: flex;
    justify-content: center;
  }
}
